# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# make.inc files
make.inc

# vscode stuff
.vscode/*

# misc. scripts
build_and_test.sh
test.sh
fix_libs.sh

# executable files
testing/bin/*
examples/bin/*

# doxygen folders
docs/html/*
docs/latex/*
